/*Blobs*/

.blob svg {
  position: absolute;
  width: 20%;
  height: auto;
  z-index: -1;
}

#blob1 {
  top: 15%;
}

#blob2 {
  top: 30%;
  right: 0;
}

#blob3 {
  bottom: 0;
  left: 15%;
}

/* Buttons */
button {
  border-radius: 5px;
}

.main-button {
  background-color: #ad00ff;
  color: white;
}

.main-button:hover {
  background-color: #7b00b5;
}

.transparent-button {
  background-color: transparent;
}

.transparent-button:hover {
  background-color: #7b00b5;
  color: white;
}
